body{
  display: relative;
  // flex-direction: column;
}
.commentBox{
  // margin-top: 40px;
  // max-width: 700px;
  // padding: 0px 0px 20px 0px;
  border-radius: 20px;
  background: #1b212d;
  display: relative;

}
.post{
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}
.postBody{
  display: flex;
  
}
.postHeader{
  display: flex;
  align-items: center;
}
.publishDate{
  color: #787878;
  margin-left: 15px;
}
.postDesc{
  margin-top: 15px;
}
i{
  padding-right: 5px;
}

.directionComment{
  line-height: 2rem;
  display: center;
  flex-direction: row;
  align-items: center;
}
.sepComment{
  margin-right: 2%;
}


.postText{
  font-weight: 500;
}
.desc{
  margin-right: 20px;
}
.comment{
  // padding: 10px;
  margin: 20px 30px;
  color: #fff;
  
}
form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
h2{
  margin:0;
  margin-bottom: 5px;
}
h3{
  margin:0;
}
input{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #f4e039;
  padding: 5px 5px 5px 10px;
  transition: 0.2s;
}
input:focus{
  outline: none;
  border: 1px solid #ff0036;
}
input::placeholder{
  color: #bebebe;
}
textarea{
  font-family: 'Darker Grotesque', sans-serif;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #787878;
  padding: 5px 5px 5px 10px;
  // height: 70px;
  transition: 0.2s;
  box-sizing: border-box;
  resize: none;
}
textarea:focus{
  outline: none;
  border: 1px solid #ff0036;
}
textarea::placeholder{
  color: #bebebe;
}
button{
  width: 160px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  padding-top: 7px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background: #111c41;
  margin-top: 20px;
  box-shadow: 0px 5px 0px 0px #6a728d;

}
button:hover{
  box-shadow: none;
  transform: translateY(5px);
  transition: all .1s linear;
}
button:focus{
  outline: none;
}

.comment{
  display: flex;
}
.commentPic{
  max-width: 45px;
  max-height: 45px;
}
.commentHeader{
  display: flex;
  align-items: center;
}
.commentBody{
  max-width: 580px;
  overflow-wrap: break-word;
}
.fa-instagram{
  position: absolute;
  color: #ff0036;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.fa-instagram:hover{
  font-size: 42px;
  color: #fff;
  transition: all .1s linear;
  cursor: pointer;
}



.animate-like {
  animation-name: likeAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

@keyframes likeAnimation {
  0% {
    transform: scale(30);
  }

  100% {
    transform: scale(1);
  }
}