// Fonts
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

// Variables
$font: 'Lato',
sans-serif;

// Colors
$red: #020921;
$black: #221f1f;
$blackblack: #020921;
$grey: #f5f5f1;
$white: #ffffff;

// General
body {
	background: $black;
	font-family: $font;
}

// Typography

h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

////////////
// MIXINS //
////////////
@mixin generate-gradient($color, $amount) {
	background: -moz-linear-gradient(top, rgba($color, $amount) 0%, rgba($color, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba($color, $amount) 0%, rgba($color, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba($color, $amount) 0%, rgba($color, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
	/* IE6-9 */
}

////////////////
// COMPONENTS //
////////////////

// Header
.Header {
	@include generate-gradient(#020921, 1);
	display: flex;
	padding: 30px;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 5;
}

// Logo
.logo {
	width: 151px;
	height: 70px;
	margin-right: 20px;
	margin-left: 30px;
	transition: margin .125s ease;
}

// Navigation
.Navigation {
	ul {
		display: flex;
		height: 37px;
		align-items: center;
		padding: 0 10px;
		list-style-type: none;

		li {
			font-weight: 400;
			padding: 7px 20px 7px 20px;
			font-size: 14px;
			transition: background .125s ease;
			border-radius: 3px;

			a {
				color: white;
				text-decoration: none;
			}

			&:hover {
				background: #1c233b;
				cursor: pointer;

				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}



// UserProfile
.UserProfile {
	margin-left: auto;

	// User
	.User {
		display: flex;
		color: white;

		.image {
			border-radius: 44px;
			margin-left: 10px;
			margin-right: 10px;
			overflow: hidden;
			width: 44px;
			height: 44px;
			box-sizing: border-box;
			border: 3px solid transparent;
			transition: border .125s ease;

			img {
				width: 100%;
				display: block;
			}
		}

		.name {
			align-items: center;
			display: flex;
			font-size: 18px;
			font-weight: 300;
			height: 44px;
		}

		&:hover {
			cursor: pointer;

			.image {
				border: 3px solid $red;
			}
		}
		
		.logout {
			background-color: #ffe6e6;
			color:#ff3333;
			border-radius:10px;
			border:none; 
			font-weight: 600;
		}
	}

	// UserProfile-menu
	.UserProfile-menu {
		display: none;
	}
}

// Hero Image
.Hero {
	width: 100%;
	position: relative;
	background-size: cover;
	min-height: 800px;

	.content {
		position: relative;
		z-index: 4;
		width: 500px;
		left: 10vw;
		top: 10vw;

		.logo {
			max-width: 400px;
			display: block;
			position: relative;
			left: -5px;
		}

		p {
			width: 100%;
		}

		.button-wrapper {
			display: flex;
			width: 400px;
			margin-top: 30px;

			.Button:first-child {
				margin-right: 10px;
			}
		}
	}

	.overlay {
		@include generate-gradient($black, 1);
		height: 100%;
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		transform: rotate(180deg);
	}
}

// Button
.Button {
	background: transparent;
	display: flex;
	height: 44px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: $white;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba($grey, .2);
	border-radius: 44px;
	font-size: 14px;
	font-weight: 600;
	transition: border .125s ease, background .125s ease;

	&:hover {
		border: 2px solid $grey;
	}

	&[data-primary='true'] {
		border: 2px solid $red;

		&:hover {
			background: $red;
		}
	}
}

// TitleList
.Hero~.TitleList:nth-child(3) {
	margin-top: -10vw;
	position: relative;
	z-index: 4;
}

// Hack for first after Hero
.TitleList {
	padding: 20px 40px;
	box-sizing: border-box;
	transition: opacity 3s ease;
	opacity: 0;

	.Title {
		@extend h2;
	}

	.titles-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 20px 0;

		width: calc(100vw - 80px);
		box-sizing: border-box;
		justify-content: space-between;

	}

	// Animation

	&[data-loaded='true'] {
		opacity: 1;
	}
}

// Item
.Item {
	width: calc(20% - 10px);
	min-width: calc(20% - 10px);
	background-color: $blackblack;
	flex: 1 0 auto;
	background-position: center;
	background-size: 100%;
	height: 200px;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-right: 10px;
	transition: background 1s ease;

	&:nth-child(n+6) {
		margin-top: 20px;
	}

	&:last-child {
		margin-right: 0;
	}

	.overlay {
		@include generate-gradient($blackblack, .75);
		padding: 20px;
		position: relative;
		height: 100%;
		pointer-events: none;
		opacity: 0;
		transition: opacity .125s ease;

		.title {
			font-size: 22px;
			font-weight: 200;
			opacity: 0;

			transition: opacity .25s ease;
		}

		.rating {
			font-size: 14px;
			opacity: 0;

			transition: opacity .25s ease .125s;
		}

		.plot {
			$lines-to-show: 3;
			font-size: 14px;
			display: -webkit-box;
			margin-top: 100px;
			font-weight: 300;
			line-height: 1.6;
			opacity: 0;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			transition: margin .25s ease .125s, opacity .25s ease .25s;
		}
	}

	&:hover {
		background-size: 150%;

		.overlay {
			opacity: 1;
			pointer-events: all;

			.plot {
				margin-top: 10px;
				opacity: 1;
			}

			.title {
				opacity: 1;
			}

			.rating {
				opacity: 1;
			}

			.ListToggle {
				opacity: 1;
			}
		}
	}
}

// Item [ANIMATION]

// ListToggle
.ListToggle {
	$size: 32px;
	border: 2px solid rgba($white, .2);
	width: $size;
	height: $size;
	font-size: $size / 2;
	border-radius: $size;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0;

	&:hover {
		border: 2px solid $white;

		div {
			top: - $size;
		}
	}

	&[data-toggled="true"] {
		background: $red;
		border: 2px solid $red;

		div {
			top: - $size;
		}
	}

	div {
		position: absolute;
		top: 0;
		left: 0;
		height: $size * 2;
		width: $size;
		transition: .125s ease;

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			height: $size;
			width: $size;
		}
	}
}